{% extends "app/base_app.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-20 rounded justify-content-center mx-0" id="chat"></div>
    <div class="row vh-75 rounded align-items-end justify-content-center mx-0">
        <div class="col-xl-12 mb-3 p-2">
            <div class="bg-light rounded p-4" >
                <h6 class="mb-4">Start Chating</h6>
                <form action="#" id="chat_form">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control h-400" placeholder="Can You ..." aria-label="Username" aria-describedby="basic-addon1">
                        <button class="input-group-text" id="basic-addon1" type="submit">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/client_chat.js' %}"></script>
{% endblock content %}