{% extends "pluging.html" %}
{% load static %}
{% block content %}
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
    <section class="error-page">
        <div class="center">
            <div class="block text-center">
                <h1>500</h1>
                <h3>Internal Server Error</h3>
                <p>Somthing went wrong on our end.
                    <br>page may have been removed.</p>
                <a href="index.html" class="btn btn-main-md">visit homepage</a>
            </div>
        </div>
    </section>
    <!-- To Top -->
    <div class="scroll-top-to">
        <i class="ti-angle-up"></i>
    </div>
{% endblock content %}